body{
    font: 20px arial sans-serif;
}
.navbar{
    background-color: #DA81F5;

}
.quem-somos{
    background-color: blueviolet;
    color: white
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
    }
.parceiros{
    background-color: #8258FA;

}
.serviços{
    background-color: #F781F3;
}
.bg-footer{
    background-color: black;
    color: white;
}
